<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
<center>
<div id="lobby">
<div class="modal-wrap" ng-show="!$root.screenName">
		<div class="modal" style="display:block;">
			<form ng-submit="register()">
					<h1>Who's Playing?</h1><br>
					<em>This will reset as soon as you refresh or close this session</em><hr>
					<center><h4><label for="screen-name-input">Select your name from the list</label></h4>
					<p class="table-requirements error" ng-show="registerError">{{registerError}}</p>
					<!-- <input id="screen-name-input" class="form-control" type="text" ng-model="newScreenName" ng-trim="true" required><br> -->
<select class="screen-name-input" class="form-control" ng-model="newScreenName" ng-trim="true" required>
	<option>Gagan</option>
	<option>Nikhil</option>
	<option>Manan</option>
	<option>Udit</option>
	<option>Amit</option>
	<option>Hemang</option>
	<option>Prasang</option>
</select>
<input type="submit" value="Confirm" class="btn btn-primary">
</form>
</div>
<div id="curtain" ng-show="!$root.screenName"></div>
</div>
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-show="!$root.screenName" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

	  <form ng-submit="register()">
      <div class="modal-body">
				<label for="screen-name-input">Username: </label>
				<p class="table-requirements error" ng-show="registerError">{{registerError}}</p>
				<input id="screen-name-input" class="" type="text" ng-model="newScreenName" ng-trim="true" required>

      </div>
	  <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
	  </form>
    </div>
  </div>
</div>
<center>
<div></div><p>
<center>
<div class="grid-container">
  <div class="grid-item"><h1>Udesh<br>Poker</h1><br>by Udesh Inc</div>
  <div class="grid-item"><div id="box1">
	<h3><center><b>{{$root.screenName}}</b></h3>
	<h5><b>{{$root.totalChips}}</b> Chips</h5></center></div></div> 
<hr>
<center>
<table class="table1">
	<tr>
		<th><h1>Cheap Ass Niggas</h1></th>
		<th class="align-right"><a href="/table-{{6}}/{{1}}" class="button"><h3>Enter Room</h3></a></th>
	</tr>
	<td><h5><b>Buy-In</b> 3000</td>
	<td align="right"><h5><b>Stakes</b> 100|200</h5></td>
</table><p></p>
<table class="table1">
	<tr>
		<th><h1>Hmmmm</h1></th>
		<th class="align-right"><a href="/table-{{6}}/{{2}}" class="button"><h3>Enter Room</h3></a></th>
	</tr>
	<td><h5><b>Buy-In</b> 100000</td>
	<td align="right"><h5><b>Stakes</b> 200|400</h5></td>
</table><p></p>
<table class="table1">
	<tr>
		<th><h1>:)</h1></th>
		<th class="align-right"><a href="/table-{{6}}/{{3}}" class="button"><h3>Enter Room</h3></a></th>
	</tr>
	<td><h5><b>Buy-In</b> 20000</td>
	<td align="right"><h5><b>Stakes</b> 300|500</h5></td>
</table>
</center><hr>
</div>
<table class="table2">
	<tr>
		<th align="left">A product of<br><h1>Udesh. Inc</h1></th>
		<th align="left">Made by<br><h1>Gagan Gupta</h1></th>
	</tr>
<td>Udesh Poker<sup>TM</sup> by Udesh. Inc</td>
	<td>&nbsp;</td>
</table><hr>
<center>
	<h5>Bugs?</h5>
	</center>
	<div class="grid-container">
	  <div class="grid-item">
	  <div id="bug1">
	  <h3>Planned</h3>
	  <li>The Stakes, Buy-In and Room Name are not accurate<sup>1</sup>
	  <li>Database to store chip data will be added soon
	  </div>
	  </div>
	  <div class="grid-item">
	  <div id="bug2">
	  <h3>Ongoing</h3>
	  <li>Bugs section needs to be tabulated
	  <li>Font has sizing problems
	  <li><em><b>(Not Visual)</b><em> Improving deployment method
	  </div>
	  </div>
	  <div class="grid-item">
	  <div id="bug3">
	  <h3>Completed</h3>
	  <li>Lobby redesign
	  <li>Rooms redesign
	  <li>Font needs to be updated
	  </div>
	  </div>  
	</div>
	<h5>Chips amount will reset back to <b>100000</b> upon refreshing<sup>2</sup></h5></center>
	</center><hr>
	1. They are hard coded in the Lobby page and will be modified to reflect the actual values. Like the ones displayed inside the Rooms.<br>
	2. Only for now till a database is added to store the chips data. 
</html>