<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head><center>
<h1>Working on Updates</h1>
<li>UI presented after Sit-In
<li>Connecting with MySQL<br><p>
<em>Check back later for updated version!</em></center><hr>
<div id="lobby">
<div class="modal-wrap" ng-show="!$root.screenName">
		<div class="modal" style="display:block;">
			<form ng-submit="register()">
					<h2>Username</h2>
					<em>This will reset as soon as you refresh or close this session</em><br><hr>
					<center><h4><label for="screen-name-input">Select your name</label></h4>
					<p class="table-requirements error" ng-show="registerError">{{registerError}}</p>
					<!-- <input id="screen-name-input" class="form-control" type="text" ng-model="newScreenName" ng-trim="true" required><br> -->
<select class="screen-name-input" class="form-control" ng-model="newScreenName" ng-trim="true" required>
	<option>Gagan</option>
	<option>Nikhil</option>
	<option>Manan</option>
	<option>Udit</option>
	<option>Amit</option>
	<option>Hemang</option>
	<option>Prasang</option>
</select>
<input type="submit" value="Confirm" class="btn btn-primary">
			</form>
		</div>
		<div id="curtain" ng-show="!$root.screenName"></div>
	</div>

<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ng-show="!$root.screenName" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

	  <form ng-submit="register()">
      <div class="modal-body">
				<label for="screen-name-input">Username: </label>
				<p class="table-requirements error" ng-show="registerError">{{registerError}}</p>
				<input id="screen-name-input" class="" type="text" ng-model="newScreenName" ng-trim="true" required>

      </div>
	  <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
	  </form>
    </div>
  </div>
</div>
<center><br>
	<em>The server takes some time to load if not used for a long time. Please be patient!</em><div class="alert">
  <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
  <h5>Chips amount will reset back to <b>100000</b> upon refreshing!</h5><br></div>
<div align="right"><div id="box1">
	<h3>Welcome <b>{{$root.screenName}}</b></h3>
	<h5>Chips Remaining: <b>{{$root.totalChips}}</b></h5></div></div><p>
<hr>
<table>
	<tr>
		<th><h1>Cheap Ass Niggas</h1></th>
		<th class="align-right"><a href="/table-{{6}}/{{1}}" class="button"><h3>Enter Room</h3></a></th>
	</tr>
	<td><h5><b>Buy-In</b> 3000</td>
	<td align="right"><h5><b>Stakes</b> 100|200</h5></td>
</table><p></p>
<table>
	<tr>
		<th><h1>Hmmmm</h1></th>
		<th class="align-right"><a href="/table-{{6}}/{{2}}" class="button"><h3>Enter Room</h3></a></th>
	</tr>
	<td><h5><b>Buy-In</b> 100000</td>
	<td align="right"><h5><b>Stakes</b> 200|400</h5></td>
</table><p></p>
<table>
	<tr>
		<th><h1>:)</h1></th>
		<th class="align-right"><a href="/table-{{6}}/{{3}}" class="button"><h3>Enter Room</h3></a></th>
	</tr>
	<td><h5><b>Buy-In</b> 20000</td>
	<td align="right"><h5><b>Stakes</b> 300|500</h5></td>
</table>
</center><hr>
	<h2>Disclaimer</h2>
</div>
			<p><b><em>The poker script is not mine.</b><br>
The UI, Data Mapping, Setting up the Back-End Node Server and Deployment on Heroku is done by me.</em></p>
			<br><h4>Made with <i class="fab fa-node-js fa-7x"></i> <i class="fab fa-angular fa-7x"></i> <i class="fab fa-js fa-7x"></i> by Gagan Gupta</h4>
</html>
